<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="css/tachyons.min.css">
  </head>

  <body>
    <div class="debug debug-grid-16 serif flex flex-column items-center justify-center center pa4 w-two-thirds">
      <header class="tl w-100">
        {{ partial "header.html" . }}
      </header>
  
      <main class="h-100">
        {{ block "main" . }}{{ end }}
      </main>
  
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </body>
</html>
